.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.vari {
    width:700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.var {
    width: 100%;
}
.var img {
    width: 100%;
    height: 100%;
}

li {
    color: rgb(5, 5, 5);
    font-size: 30px;
}
li a {
    color: rgb(102, 28, 221);
    font-size: 20px;
}
h1 { 
    color: rgba(27, 29, 185, 0.822);
    font-size: 40px;
}
a{
    color: rgb(102, 28, 221);
    font-size: 20px;
}
h2 {
    color: rgb(33, 19, 54);
    font-size: 30px;
}
p {
    font-size: 25px;
}


.featured_boks{
    width: 100%;
    height: 80vh;
    padding: 70px 0;
}

.featured_boks .featured_book_box{
    width: 95%;
    height: 80vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

.featured_boks .featured_book_box .featured_book_card{
    width: 350px;
    height: 620px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.featured_boks .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.featured_boks .featured_book_box .featured_book_card .featured_book_img img{
    width: 200px;
    margin-top: 40px;
}

.featured_boks .featured_book_box .featured_book_card .featured_book_tag .writer{
    color: #cf1180;
}

.featured_boks .featured_book_box .featured_book_card .featured_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured_boks .featured_book_box .featured_book_card .featured_book_tag .rating{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgb(49, 145, 140);
    font-size: 30px;

}

.featured_boks .featured_book_box .featured_book_card .featured_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_boks .featured_book_box .featured_book_card .featured_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}


/*arrivals*/

.arrivals{
    width :100%;
    height: 100vh;
    margin-bottom: 35px;
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
}

.arrivals .arrivals_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0
}

.arrivals .arrivals_box .arrivals_card{
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}
.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon {
    color: #a8266e;

}

/*end*/

.end {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(#ffffff 0%,#d7d7d7 74%);
}
.text1 .text2 {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.text1 .text2:hover{
    width: 200px;
}

.text1 .text2 .text3 {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3 ease-out;
}

.text1 .text2:nth-child(1):hover .text3{
    background: #4065b1;
}

.text1 .text2:nth-child(2):hover .text3{
    background: #f60002;
}

.text1 .text2:nth-child(3):hover .text3{
    background: #fb3c7c;
}

.text1 .text2:nth-child(4):hover .text3{
    background: #1c9cea;
}

.text1 .text2:nth-child(5):hover .text3{
    background: #058f2e;
}

.text1 .text2:nth-child(6):hover .text3{
    background: #1c9cea;
}
.text1 .text2:nth-child(7):hover .text3{
    background: #5e13ce;
}

